# Byte-compiled / optimized / DLL files
__pycache__/
.mypy_cache
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Api keys
recipe_healthiness_analyser/recipe_analyser/nutrition/constants/api_keys.py

# Assets
recipes_test.csv
spoonacular_result.json


### VisualStudioCode ###
.vscode

### R ###
docs/.Rhistory
docs/recipes_analysis.r
docs/recipe_analysis_report.rmd
docs/nutriscore_cancer_risk.png
docs/analysed_recipes.csv